* {
  font-family: 'Source Sans Pro', Inter, Avenir, Helvetica, Arial, sans-serif;
}

html,
body,
.app,
.content {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-track:hover{
  background: #555;
}